{% extends 'base.html' %}

{% block meta_title %}{{ blog_info.meta_title }}{% endblock %}
{% block meta_description %}{{ blog_info.meta_description }}{% endblock %}

{% load static %}

{% block content %}


            <!-- Banner area start here -->
            <section class="banner-inner-area">
                <div class="container">
                  <div class="banner-inner__content">
                    <h1>{{ blog_info.banner_title }}</h1>
                    <p>{{ blog_info.banner_description }}</p>
                  </div>
                </div>
              </section>
            <!-- Banner area end here -->

            <!-- Blog area start here -->

    <section class="blog-area pb-120">
                <div class="container">
                    <div class="section-header-flex mb-80">
                        <h2 class="fw-300">{{ blog_info.title }}</h2>
                        <div>
                            <p>{{ blog_info.content }}
                            </p>
                        </div>
                    </div>
                    <div class="row g-4">
                    {% for item in article %}
                        <div class="col-lg-4">

                            <div class="blog__item">
                                <div class="blog__image image">
                                                                        {% if item.thumbnail %}
                                    <img src="{{ item.thumbnail.url }}" alt="{{ item.title }}" loading="lazy">
                                    {% endif %}
            {#                    <div class="tag">#}
        {#                  <a href='{% url 'product:product_type' item.slug %}'>{{ item.title }}</a>#}
        {#                             </div>#}
                                </div>
                                <h4 class="mt-10 mb-20"><a class='primary-hover' href='{% url 'blog:blog_detail' item.slug %}'>{{ item.title }}</a></h4>
                                <a class='fs-18 blog-btn text-font' href='{% url 'blog:blog_detail' item.slug %}'>ادامه مطلب<i
                                        class="fa-light ms-1 fa-arrow-left"></i></a>
                            </div>

                        </div>
                        {% endfor %}
                    </div>

                    <div class="pegi justify-content-center mt-60">

                    {% if article.has_previous %}
                    <span>صفحه قبل</span>
                    <a class="prev" href="{% url 'blog:blog_page' article.previous_page_number %}">

                    <i class="fa-regular fa-arrow-right"></i>
                    </a>
                    {% endif %}

                    {% if article.has_next %}
                     <a class="next" href="{% url 'blog:blog_page' article.next_page_number %}">
                     <i class="fa-regular fa-arrow-left"></i>
                    </a><span>صفحه بعد</span>
                {% endif %}

            </div>


                </div>
            </section>            <!-- Blog area end here -->
{% endblock %}