{% extends 'base.html' %}

{% block meta_title %}{{ article.meta_title }}{% endblock %}
{% block meta_description %}{{ article.meta_description }}{% endblock %}
{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}">
{% endblock %}

{% load static %}

{% block content %}
            <!-- Banner area start here -->
            <section class="banner-inner-area" style="padding: 70px 0;">
                <div class="container"></div>
              </section>
            <!-- Banner area end here -->

            <!-- Blog details area start here -->
            <section class="blog-details-area pb-120">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-8 order-2 order-lg-1">
                            <div class="blog-details__item-left">
                                <div class="blog-details__item">
                                    <div class="image">
                                        {% if article.thumbnail %}
                                        <img src="{{ article.thumbnail.url }}" alt="{{ article.title }}" loading="lazy">
                                        {% endif %}
                                    </div>
                                    <div class="info">
                                        <ul>
                                        
                                        </ul>
                                    </div>
                                    <h1 class="mb-1">{{ article.title }}
                                    </h1>
                                                        <div class="container ck-content">
                                    <p class="mb-10">{{ article.content|safe }}</p>
                                                        </div>
                                    <p class="mb-10">{{ article.author }}</p>
                                    <h3 class="fw-300 mb-10"></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 order-1 order-lg-2">
                            <div class="blog-details__item-right">
                                <div class="item mb-40">
                                  {% if query %}
                                    <h4>نتایج جستجو برای "{{ query }}"</h4>
                                  {% else %}
                                    <h4>مطالب اخیر</h4>
                                  {% endif %}

                                  <ul id="recent-posts-list">
                                    {% for post in recent_posts %}
                                      <li class="mb-20">
                                        <a class="fs-18 fw-500 primary-hover" href="{% url 'blog:blog_detail' post.slug %}">
                                          {{ post.title }}
                                        </a>
                                      </li>
                                    {% empty %}
                                      <li>هیچ مقاله‌ای یافت نشد.</li>
                                    {% endfor %}
                                  </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog details area end here -->
                    <!-- Video area start here -->
            <div class="banner-video mt-0">
                <div class="container">
                    <div class="banner-video__image image">
{% if article.video %}
  <video width="600" style="padding: 20px;
    display: flex;
  align-items: center;

width: 100%;" controls>
      <source src="{{ article.video.url }}" type="video/mp4">
      مرورگر شما از پخش ویدیو پشتیبانی نمی‌کند.
  </video>
{% endif %}
                    </div>
                </div>
            </div>
            <!-- Video area end here -->
{% endblock %}