{% extends 'base.html' %}
{% load static %}

{% block content %}


            <!-- Banner area start here -->
            <section class="banner-inner-area">
                <div class="container">
                  <div class="banner-inner__content">
                    <h1>{{ blog_info.banner_title }}</h1>
                    <p>{{ blog_info.banner_description }}</p>
                  </div>
                </div>
              </section>
            <!-- Banner area end here -->

            <!-- Blog area start here -->
            <section class="blog-area pb-120">
                <div class="container">
                    <div class="section-header-flex mb-80">
                        <h2 class="fw-300" id="aboutus-page-title"></h2>
                        <div>
                            <p id="aboutus-page-content">
                            </p>
                        </div>
                    </div>
                    <div id="articles-list" class="row g-4">
                        

                        </div>
                        
                        <div class="pegi justify-content-center mt-60">
                          <a class="prev" href="#0"><i class="fa-regular fa-arrow-right"></i></a>
                          <div class="pegi-dots" id="pagination-container-articles"></div>
                          <a class="next" href="#0"><i class="fa-regular fa-arrow-left"></i></a>
                        </div>
                        
                        
                </div>
            </section>
            <!-- Blog area end here -->
{% endblock %}