{% extends 'base.html' %}
{% load static %}

{% block content %}
            <!-- Banner area start here -->
            <section class="banner-inner-area" style="padding: 70px 0;">
                <div class="container"></div>
              </section>
            <!-- Banner area end here -->

            <!-- Blog details area start here -->
            <section class="blog-details-area pb-120">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-8 order-2 order-lg-1">
                            <div class="blog-details__item-left">
                                <div class="blog-details__item">
                                    <div class="image">
                                        <img src="{{ article.image.url }}" alt="{{ article.title }}" loading="lazy">
                                    </div>
                                    <div class="info">
                                        <ul>
                                        
                                        </ul>
                                    </div>
                                    <h1 class="mb-1">{{ article.title }}
                                    </h1>
                                    <p class="mb-10">{{ article.content }}</p>
                                    <p class="mb-10">{{ article.author }}</p>
                                    <h3 class="fw-300 mb-10"></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 order-1 order-lg-2">
                            <div class="blog-details__item-right">
                                <div class="item mb-40">
                                <div class="search">
                                    <form method="get" action="">
                                        <input type="text" name="q" placeholder="جستجو..." value="{{ query }}">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                                      
                                </div>
                        <div class="item mb-40">
                            <h4>مطالب اخیر</h4>
                            <ul id="recent-posts-list">
                                {% for post in recent_posts %}
                                    <li class="mb-20">
                                        <a class="fs-18 fw-500 primary-hover"
                                           href="{% url 'blog:blog_detail' post.slug %}">
                                            {{ post.title }}
                                        </a>
                                    </li>
                                {% empty %}
                                    <li>هیچ مقاله‌ای یافت نشد.</li>
                                {% endfor %}
                            </ul>
                        </div>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog details area end here -->
{% endblock %}