{% extends 'base.html' %}

{% block meta_title %}{{ contact_us.meta_title }}{% endblock %}
{% block meta_description %}{{ contact_us.meta_description }}{% endblock %}

{% load static %}

{% block content %}
            <!-- Banner area start here -->
            <section class="banner-inner-area">
                <div class="container">
                  <div class="banner-inner__content">
                    <h1>{{ contact_us.page_title_one }}</h1>
                    <p>{{ contact_us.description_one }}</p>
                  </div>
                </div>
              </section>
            <!-- Banner area end here -->

            <!-- Contact area start here -->
            <section class="contact-area pb-120">
                <div class="contact__shape1">
                    <img src="{% static 'images/shape/contact-dots.png' %}" alt="shape" loading="lazy">
                </div>
                <div class="contact__shape2">
                    <img src="{% static 'images/shape/contact-roket.png' %}" alt="shape" loading="lazy">
                </div>
                <div class="container">
                    <div class="row g-4 align-items-center justify-content-between">
                        <div class="col-lg-5">
                            <div class="contact__item-left">
                                <div class="section-header mb-60">
                                    <h2 class="fw-300">{{ contact_us.page_title_two }}</h2>
                                    <p>{{ contact_us.description_two }}</p>
                                </div>
                                <div class="contact__content">
                                    <div class="mb-30">
                                        <h5>ایمیل</h5>
                                        <p>{{ contact_us.email }}</p>
                                    </div>
                                    <div class="mb-30">
                                        <h5>اطلاعات تماس</h5>
                                        <p>{{ contact_us.phone }}</p>
                                        <p id="contactus-phone-two">{{ contact_us.phone_two }}</p>
                                        <p id="contactus-phone-three">{{ contact_us.phone_three }}</p>
                                        <p id="contactus-phone-four">{{ contact_us.phone_four }}</p>
                                    </div>
                                    <div class="mb-30">
                                        <h5 data-i18n="nav.address">آدرس</h5>
                                        <p>{{ contact_us.address }}</p>
                                        <p>{{ contact_us.post_code }}</p>
                                        <p>{{ contact_us.fax }}</p>
                                    </div>
                                    <!-- <div>
                                        <h5>ساعات کاری</h5>
                                        <p>شنبه - چهارشنبه, <br>
                                            10 ق ظ تا 5 ب ظ</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact__item-right">
                                <div class="contact__item">
                                    <h3>تماس با ما</h3>
                                    <form method="post" action="{% url 'home:contact' %}">
                                      {% csrf_token %}

                                      <label for="id_full_name">نام و نام خانوادگی</label>
                                      {{ form.full_name }}

                                      <label for="id_email">ایمیل</label>
                                      {{ form.email }}

                                      <label for="id_phone_number">شماره تماس</label>
                                      {{ form.phone_number }}

                                      <label for="id_subject">موضوع</label>
                                      {{ form.subject }}

                                      <label for="id_message">پیام</label>
                                      {{ form.message }}

                                      <button type="submit" class="btn-three mt-50">ارسال پیام</button>
                                    </form>

                                    {% if messages %}
                                      <ul class="messages">
                                        {% for message in messages %}
                                          <li class="{{ message.tags }}">{{ message }}</li>
                                        {% endfor %}
                                      </ul>
                                    {% endif %}

                                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact area end here -->


{% endblock %}