{% extends 'base.html' %}

{% block meta_title %}{{ type.meta_title }}{% endblock %}
{% block meta_description %}{{ type.meta_description }}{% endblock %}
{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}">
{% endblock %}

{% load static %}

{% block content %}

            <!-- Banner area start here -->
            <section class="banner-inner-area">
                <div class="container">
                  <div class="banner-inner__content">
                  <h2>{{ type.banner_title }}</h2>
                  <p>{{ type.banner_description }}</p>
                  </div>
                </div>
              </section>
              <!-- Banner area end here -->

            <!-- Case details area start here -->
            <section class="case-details-area pb-120">
                <div class="container">
                    <div class="image case-details__image">
                                {% if type.thumbnail %}
                              <img src="{{ type.thumbnail.url }}" alt="{{ type.title }}" loading="lazy">
                                {% endif %}
                    </div>
                    <div class="case-details__wrp" style="padding: 70px 0;">

                        <h1>{{ type.title }}</h1>
                                        <div class="container ck-content">
                        <p>{{ type.description|safe }}</p>
                                        </div>

<div class="case-details__image-sm mt-30">
    {% for img in type.gallery.all %}
        <div class="image {% if forloop.counter == 2 %}sm-image{% endif %}">
            <a href="{{ img.image.url }}"
               class="glightbox"
               data-gallery="project-{{ project.id }}"
               data-title="{{ img.alt_text }}">
                {% if img.thumbnail %}
                <img src="{{ img.thumbnail.url }}"
                     alt="{{ img.alt_text }}"
                     loading="lazy">
                {% endif %}
            </a>
        </div>
    {% empty %}
        <p>هیچ تصویری برای این نوع محصول ثبت نشده است.</p>
    {% endfor %}
</div>
                    </div>
                </div>
            </section>
            <!-- Case details area end here -->
                            <!-- Video area start here -->
            <div class="banner-video mt-0">
                <div class="container">
                    <div class="banner-video__image image">
{% if type.video %}
  <video width="600" style="padding: 20px;
    display: flex;
  align-items: center;

width: 100%;" controls>
      <source src="{{ type.video.url }}" type="video/mp4">
      مرورگر شما از پخش ویدیو پشتیبانی نمی‌کند.
  </video>
{% endif %}
                    </div>
                </div>
            </div>
            <!-- Video area end here -->

{% endblock %}