{% extends 'base.html' %}
{% load static %}

{% block content %}
            <!-- Banner area start here -->
            <section class="banner-inner-area">
                <div class="container">
                  <div class="banner-inner__content">
                    <h1>{{ about_us.banner_title }}</h1>
                    <p>{{ about_us.banner_description }}</p>
                  </div>
                </div>
              </section>
            <!-- Banner area end here -->

                                    <!-- Testimonial area start here -->
                                    <section class="testimonial-area pb-120">
                                        <div class="container">
                                          <div class="row g-4 justify-content-between">
                                            <div class="col-lg-5">
                                              <div class="testimonial__item-left">
                                                <h2 class="fw-600 wow splt-txt" data-splitting id="aboutus-page-title"></h2>
                                                <div class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                                  <p class="award-title" id="aboutus-page-content">
                                                   <br />
                                                  </p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </section>
            <!-- Testimonial area end here -->



                        <!-- Case details area start here -->
                        <section class="case-details-area pb-120">
                            <div class="container">
                                <div class="image case-details__image">
                                    <img id="about-image" alt="image" loading="lazy">
                                </div>
                                <div class="case-details__wrp">
                                </br>
                                    <h3 id="about-title"></h3>
                                    <p id="about-content"></p>            
                                </div>
                            </div>
                        </section>
                        <!-- Case details area end here -->
            

                        <!-- Story area start here -->
                        <section class="story-area pt-120 pb-120">
                            <div class="container">
                              <div class="section-header-flex line-title mb-80">
                                <h2 class="fw-600 splt-txt wow" data-splitting>
                                  <span data-i18n="nav.more-aboutus">
                                    
                                    <img src="/assets/images/shape/title-line-store.png" alt="shape" loading="lazy"/>
                                  </span>
                                </h2>
                              </div>
                          
                              <div class="row g-4" id="dynamic-content-wrapper">
                                <div class="swiper-wrapper">
                                  <!-- اطلاعات از طریق JS بارگذاری می‌شود -->
                                </div>
                                <div class="swiper-scrollbar"></div>
                              </div>
                          
                              <div class="story__btn mt-80">
                              </div>
                            </div>
                          </section>
                                                <!-- Story area end here -->
            
{% endblock %}