{% extends 'base.html' %}

{% block meta_title %}{{ about_us.meta_title }}{% endblock %}
{% block meta_description %}{{ about_us.meta_description }}{% endblock %}

{% load static %}

{% block content %}
            <!-- Banner -->
<section class="banner-inner-area">
  <div class="container">
    <div class="banner-inner__content">
      <h1>{{ about_us.banner_title }}</h1>
      <p>{{ about_us.banner_description }}</p>
    </div>
  </div>
</section>

            <section class="case-details-area pb-120">
            <div class="container">



{% if about_us.video %}
  <video width="600" controls>
      <source src="{{ about_us.video.url }}" type="video/mp4">
      مرورگر شما از پخش ویدیو پشتیبانی نمی‌کند.
  </video>
{% endif %}
                        </div>
            </section>


            
{% endblock %}