{% extends 'base.html' %}

{% block meta_title %}{{ banner.meta_title }}{% endblock %}
{% block meta_description %}{{ banner.meta_description }}{% endblock %}

{% load static %}

{% block content %}

            <!-- Banner area start here -->
<section class="banner-area bg-image"
         style="background-image: url('{% if banner.image %}{{ banner.image.url }}{% endif %}');">

    <div class="container">
        <div class="banner__content pb-120 text-center">
            <h5 class="splt-txt wow" data-splitting>
                {{ banner.meta_title }}
            </h5>
            <h1>{{ banner.banner_title }}</h1>
            <p>{{ banner.banner_description }}</p>

            <div class="d-flex align-items-center gap-3 justify-content-center">
                <a class="btn-one" href="{% url 'home:contact' %}">
                    مشاوره رایگان
                    <span>
                        <i class="fa-regular fa-arrow-up-left arry1"></i>
                        <i class="fa-regular fa-arrow-up-left arry2"></i>
                    </span>
                </a>
                <a class="btn-two" href="{% url 'home:about' %}">
                    بیشتر بدانید
                    <span>
                        <i class="fa-regular fa-arrow-left arry1"></i>
                        <i class="fa-regular fa-arrow-left arry2"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="brand-area pb-120">
            <p class="mb-4">{{ banner.banner_subtitle }}</p>
        </div>
    </div>
</section>

            <!-- Banner area end here -->

            <!-- Fanfact area start here -->
            <section class="service-area sub-bg pt-120 pb-120">
            <div class="service__shape1 sway__animationX">
                <img src="{% static 'images/shape/service-shape1.png' %}" alt="shape" loading="lazy">
            </div>
            <div class="service__shape2 sway_Y__animationY">
                <img src="{% static 'images/shape/service-shape2.png' %}" alt="shape" loading="lazy">
            </div>

              <div  class="container">
                <div id="fanfact-wrapper" class="row g-4">
                  <div class="col-xl-4 col-md-6">
                    <div class="section-header line-title">
                      <h2 class="fw-600 splt-txt wow" data-splitting data-i18n="nav.fanfact">چرا پترو صنعت تاراز؟</h2>
                      <a class="btn-one active wow fadeInUp mt-40" data-wow-delay="600ms" data-wow-duration="1500ms" href="{% url 'home:contact' %}">
                        اکنون صحبت کنیم
                        <span>
                          <i class="fa-regular fa-arrow-up-left arry1"></i>
                          <i class="fa-regular fa-arrow-up-left arry2"></i>
                        </span>
                      </a>
                    </div>
                  </div>

                    <div id="fanfact-cards" class="row g-4 w-100 mt-4">
                        {% for card in fanfacts %}
                            <div class="col-xl-4 col-md-6">
                                <div class="service__item active">
                                    <div class="d-flex align-items-center gap-2">
                                        <h4 class="splt-txt wow" data-splitting>
                                            {{ card.card_title }}
                                        </h4>
                                    </div>
                                    <p class="mt-20 pb-20 fs-16">
                                        {{ card.card_content }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

              </div>
          </section>
          <!-- Fanfact area end here -->

                    <!-- Video area start here -->
            <div class="banner-video mt-0">
                <div class="container">
                    <div class="banner-video__image image">
{% if banner.video %}
  <video width="600" style="padding: 20px;
    display: flex;
  align-items: center;

width: 100%;" controls>
      <source src="{{ banner.video.url }}" type="video/mp4">
      مرورگر شما از پخش ویدیو پشتیبانی نمی‌کند.
  </video>
{% endif %}
                    </div>
                </div>
            </div>
            <!-- Video area end here -->

<!-- Story Area Start -->
            <section class="story-area pt-120 pb-120">
                <div class="container">
                    <div class="section-header-flex line-title mb-80">
                        <h2 class="fw-600 splt-txt wow" data-splitting>مطالعه موردی و داستان های موفقیت ما </h2>
                    </div>
                    <div class="swiper story__slider">
                        <div class="swiper-wrapper">
                                <div class="row g-5 align-items-star">
                                    {% for item in project_posts %}
                                    <div class="col-lg-6">

                                        <div class="story__item">
                                            {% if item.image %}
                                            <div class="image">
                                                <img src="{{ item.image.url }}" alt="{{ item.title }}" loading="lazy">
                                            </div>
                                            {% endif %}
                                            <div
                                                class="d-flex align-items-center flex-wrap gap-3 justify-content-between mt-20">
                                                <div>
                                                    <h3 class="mb-2"><a href="{% url 'home:project_detail' item.slug %}"></a>{{ item.title }}</h3>
                                                        <p class="text-muted">
                                                            {{ item.content|striptags|truncatechars:100 }}
                                                        </p>
                                                </div>
                                                <div> <a class='btn-one' href='{% url 'home:project_detail' item.slug %}'>مشاهده این مورد
                                                        <span>
                                                            <i class="fa-regular fa-arrow-up-left arry1"></i>
                                                            <i class="fa-regular fa-arrow-up-left arry2"></i>
                                                        </span>
                                                    </a></div>
                                            </div>
                                        </div>

                                    </div>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
                    <div class="story__btn mt-80">
                        <a href="{% url 'home:project' %}" class="btn-one active">جستجوی بیشتر
                            <span>
                                <i class="fa-regular fa-arrow-up-left arry1"></i>
                                <i class="fa-regular fa-arrow-up-left arry2"></i>
                            </span>
                        </a>
                        <div class="story__scrollbar">
                            <div class="position-relative">
                                <div class="swiper-scrollbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>  <!-- Story Area End -->
  
            <!-- Testimonial area start here -->
            <section class="testimonial-area pb-120">
              <div class="container">
                <div class="row g-4 justify-content-between">
                  <div class="col-lg-5">
                    <div class="testimonial__item-left">
                      {% if banner %}
                        <h2 class="fw-600 wow splt-txt" data-splitting>
                          {{ banner.title }}
                        </h2>
                        <div class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                          <p class="award-title">
                            {{ banner.content }}
                          </p>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </section>
                          

            <!-- Blog area start here -->
            <section class="blog-area pb-120">
                <div class="container">
                    <div class="section-header-flex mb-80">
                        <h2 class="fw-600 splt-txt wow" data-splitting>جدید ترین وبلاگ و اخبار ما</h2>
                        <div class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="swiper__info justify-content-start m-0 mt-3">
                                <button class="blog__arry-prev"><i class="fa-regular fa-arrow-right-long"></i></button>
                                <button class="blog__arry-next active"><i
                                        class="fa-regular fa-arrow-left-long"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper blog__slider">
                        <div class="swiper-wrapper">
                            {% for item in blog %}
                            <div class="swiper-slide">
                                <div class="blog__item">
                                    <div class="blog__image image">
                                        <img src="{{ item.image.url }}" alt="{{ item.title }}" loading="lazy">
{#                                        <div class="tag">#}
{#                                            <a href='service-details.html'>تکنولوژی</a>#}
{#                                        </div>#}
                                    </div>
                                    <h4 class="mt-10 mb-20"><a class='primary-hover' href="{% url 'blog:blog_detail' item.slug %}">{{ item.title }}</a></h4>
                                    <a class='fs-18 blog-btn text-font' href='{% url 'blog:blog_detail' item.slug %}'>ادامه مطلب <i
                                            class="fa-light me-1 fa-arrow-left"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog area end here -->
{% endblock %}